header {    
    @include flexCenter($jc: center, $fd: column, $gap: 5px);  
    padding-top: 10px; 

    .logo {        
        width: 333px;
        height: 90px;
    }

    .divider { 
//width: 100%;
        width: 350px; 
        max-width: 595px;
    }

    .menu { //ta bort, bli komponent i react
        font-size: size(sm); 
    }

    .header-image-container {
        @include flexCenter($jc: center, $fd: row, $gap: 10px); 
        width: 100svw;
        height: auto;

        .header-image {          
            width: 80%;
            object-fit: cover; 
        } 
    }
   
    @include response(md) {
        .divider { 
            min-width: 674px;
        }

        .menu { //ta bort, bli komponent i react
            font-size: size(lg); 
        }

        .header-image-container {
            min-height: 295px;
            max-height: 305px;
            
            .header-image {
                min-height: inherit;
                max-height: 305px;
                min-width: 608px;
                max-width: 700px;
            }
        }        
    }

    @include response(lg) {
        .logo {
            width: 507px; 
            height: 130px;
        }
    
        .menu { //ta bort, bli komponent i react
            font-size: size(xl); 
        }

        .header-image-container {           
            
            .header-image { 
                height: 305px;
                max-width: 798px;
            }
        }    
    }
}