html {
  scroll-behavior: smooth;

  button,
  input {
    font-family: $primary-font;
  }

  body {
    @include flexCenter($jc: center);
    background-color: color(backgroundColor);
    color: color(primaryText);
    font-family: $primary-font;
  }
}

#root {
  @include flexCenter($ai: center, $fd: column, $gap: 16px);
  width: 100%;
  padding: 16px 24px 24px 24px;
  max-width: 1180px;
  padding-bottom: 50px;

  @include response(md) {
    padding: 24px 36px 40px 36px;
  }

  @include response(lg) {
    padding-bottom: 60px;
  }

  .main-section {
    @include flexCenter($ai: center, $fd: column, $gap: 24px);
    width: 100%;
    padding: 24px 0;
    @include response(md) {
      gap: 40px;
      padding: 40px 0;
    }
    @include response(lg) {
      gap: 60px;
      padding: 60px 0;
    }
  }
}
