.cookie-button {
  width: 135px;
  height: 50px;
  border-radius: 10px;
  font-size: 2rem;
  cursor: pointer;
  @include flexCenter($jc: center, $ai: center);
  @include response(md) {
    width: 150px;
    height: 60px;
  }
  &.accept {
    background-color: color(tertiary);
    &:hover {
      background-color: color(quart);
    }
  }
  &.decline {
    background-color: color(secondary);
    color: color(backgroundColor);
    &:hover {
      background-color: color(primaryText);
    }
  }
}
