.faq-container {
  @include flexCenter($fd: column, $gap: 16px);
  @include response(md) {
    gap: 24px;
    max-width: 680px;
  }
  @include response(lg) {
    max-width: 100%;
    gap: 40px;
  }
  .faq-wrapper {
    @include flexCenter($fd: column, $gap: 20px);
    .faq-panel {
      @include flexCenter($fd: column, $gap: 12px, $ai: flex-start);
      @include response(md) {
        gap: 16px;
      }
      @include response(lg) {
        gap: 24px;
      }
    }
  }
}
