.counter {
  height: 3.25rem;
  margin: 1rem 0;
  @include flexCenter;
  width: 12.5rem;

  input {
    margin: 0 2rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    text-align: center;
    @include inputAppearance(textfield);
  }

  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input,
  button {
    height: 3.125rem;
    width: 3rem;
  }

  button {
    width: 3.125rem;
    background-color: color(quint);
    border: none;
    font-size: 1.75rem;
    cursor: pointer;
  }
}
