.recipe-container {
  width: 290px;
  height: auto;
  border: 1px solid color(primaryText);
  border-radius: 15px;
  // background-color: color(quart);
  background-color: pink;

  @include flexCenter($fd: column);
}
