.recipe-container {
  width: 18.75rem;

  @include flexCenter($fd: column);

  .recipe-title {
    height: 9.4rem;
    font-size: 2.25rem;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .recipe-image {
    position: relative;
    width: 10rem;
    height: 10rem;
    background-color: color(quart);
    overflow: hidden;

    @include response(sm) {
      width: 18.75rem;
      height: 18.75rem;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    &:hover {
      transform: scale(1.0333);
      cursor: pointer;
    }
  }

  .recipe-details {
    background-color: color(quart);
    border-radius: 1rem;
    padding: 1rem 0;

    h3 {
      text-align: center;
    }

    li {
      list-style: none;
    }
  }
}
