.counter {
  height: 3.25rem;
  margin: 1rem 0;
  @include flexCenter;

  input {
    margin: 0 2rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    text-align: center;
  }

  // .no-spinner::-webkit-inner-spin-button,
  // .no-spinner::-webkit-outer-spin-button {
  //   -webkit-appearance: none;
  //   margin: 0;
  // }

  input,
  button {
    height: 3.125rem;
    width: 5rem;
  }

  button {
    width: 3.125rem;
    background-color: color(quint);
    border: none;
    font-size: 2rem;
  }
}
