.recipe-main-container {
  width: 100svw;
  height: auto;
  padding: 2px;
  background-color: red;
  @include flexCenter($jc: space-between);

  flex-wrap: wrap;

  &__recipe {
    width: 320px;
  }
}
